.categories {
    height: 100vh;
    overflow: hidden;
    margin: 2rem;
}

.category-top {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    width: 60%;
    margin: 3rem auto;
    text-align: center;
}

.category-top h2 {
    font-size: 30px;
}

.category-top p {
    font-size: 14px;
    color: rgb(94, 93, 93);
}


.category-buttom {
    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.category-card {
    width: 320px;
    position: relative;
}

.category-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-card button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: none;
    font-size: 25px;
    font-weight: 500;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.5s ease;

}

.category-card button:hover {
    background-color: rgba(0, 0, 0, 0.374);
}

@media screen and (max-width : 780px) {
.categories{
    height: auto;
}
    .category-top {
        width: 90%;
        margin: 1rem;
    }

    .category-top p {
        font-size: 10px;
    }

    .category-top h2 {
        font-size: 20px;
    }

    .category-buttom {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .category-card {
        display: block;
        width: 200px;
        flex-grow: 1;
    }
}
@media screen and (max-width : 480px) {

    .category-buttom {
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .category-card {
        width: 120px;
    }

    .category-card button{
        font-size: 14px;
    }
}