.product-form {
    background-color: rgb(198, 226, 241);
    width: 80%;
    margin: auto;
    border-radius: 8px;
    padding: 2rem;
    color: black;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 3rem;
}

.form-rows {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.product-inputs {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.product-inputs input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
}

.product-inputs textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 8px;
}

select {
    padding: 0.5rem;
    border-radius: 4px;
}

.size {
    display: flex;
    gap: 1rem;
}

.form-size-button {
    padding: 10px;
    width: fit-content;
}

.size-list,
.color-list {
    display: flex;
    gap: 1rem;
}

.size-list li {
    padding: 0.4rem 1rem;
    border-radius: 4px;
    background-color: rgb(68, 73, 209);
    color: white;
    width: fit-content;
    margin-top: 0.5rem;
}

.color-list span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
}


.color-and-size {
    display: flex;
    justify-content: space-between;
}

.add-size {
    flex: 1;
}

.add-color {
    flex: 1;
}