.incentives {
    background-color: rgb(239, 242, 242);
    width: 100%;
}

.incentives-container {
    padding: 5rem 3rem;

}

.in-top {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.in-left {
    flex: 1;
}

.in-left p {
    font-size: 16px;
    color: gray;
}

.in-left h1 {
    font-size: 40px;
    line-height: 2.4rem;
    margin-bottom: 1.4rem;
}

.in-right {
    flex: 1;
}

.in-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.in-bottom {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin: 3rem;
}

.in-delivery {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.in-delivery h3 {
    color: rgb(62, 60, 60);
}

.in-delivery p {
    font-size: 15px;
    color: rgb(120, 118, 118);
}

.in-icon {
    width: 20%;
}


@media screen and (max-width : 1080px) {
    .incentives-container {
        padding: 1.5rem 2rem;
    }

    .in-left h1 {
        font-size: 34px;
    }
}

@media screen and (max-width : 780px) {
    .incentives-container {
        padding: 1.5rem 1rem;
    }

    .in-left h1 {
        font-size: 26px;
    }

    .in-left p {
        font-size: 14px;
    }

    .in-bottom {
        margin: 0;
        gap: 0.8rem;
    }

    .in-bottom p {
        font-size: 13px;
    }
    .in-bottom h3 {
        font-size: 20px;
    }
}

@media screen and (max-width : 600px) {
    .in-top {
        flex-direction: column;
    }
}

@media screen and (max-width : 480px) {
    .in-top {
        flex-direction: column;
    }

    .in-bottom {
        flex-direction: column;
        gap: 0.8rem;
    }

    .in-bottom p {
        font-size: 14px;
    }
    .in-bottom h3 {
        font-size: 20px;
    }
    .in-bottom img {
        width: 50px;
    }
}